{{>header}}
{{>navbar}}
<section class="container my-4">
    <h3 class="text-center text-primary">All Users</h3>
    <table class="table table-stripped">
     
            <tr>
                <th>ID:{{user.id}}</th>
                <th>name:{{user.name}}</th>
            </tr>
            
       
    </table>
</section>
{{>footer}}